$bg-color: #f8f8f8;
$f-color:#C9151E;
*{
    margin: 0;
    padding: 0;
}
input{
    border: none;
}
input:focus {
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img:hover,
li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

img:active,
li:active {
    opacity: .8;
}

.bg{
    background-color: #fff;
}
html,body {
    height: 100%;
    background-color: $bg-color;
    font-size: 14px;
    ::-webkit-scrollbar {
            display: none !important;
        }
    scrollbar-width: none !important;
}

.c-6{
    color: #666666;
}
.cc{
    color:#C9151E;
}
.c9 {
    color: #999;
}
.nowarp{
    text-wrap: nowrap;
}
.bold{
    font-weight: bold;
}
.border{
    border: 1px solid crimson;
    box-sizing: border-box;
}
.u-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-flex-nowrap {
    flex-wrap: nowrap;
}

.u-col-center {
    align-items: center;
}
.u-col-stretch {
    align-items: stretch;
}
.u-col-top {
    align-items: flex-start;
}

.u-col-bottom {
    align-items: flex-end;
}

.u-row-center {
    justify-content: center;
}

.u-row-left {
    justify-content: flex-start;
}

.u-row-right {
    justify-content: flex-end;
}

.u-row-between {
    justify-content: space-between;
}

.u-row-around {
    justify-content: space-around;
}

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-flex-col {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
}

.container {
    overflow-y: scroll;
}
// 函数 转换px为vw
@function calc-px($arg1) {
    @return calc($arg1 / 1920px * 100vw);
}
// 定义flex等分
@for $i from 0 through 12 {
    .flex-#{$i} {
        flex: $i;
    }
}

// 定义宽高
@for $i from 10 through 500 {
    .x-#{$i} {
        width: $i + px;
    }
}
@for $i from 10 through 500 {
    .y-#{$i} {
        height: $i + px;
    }
}
// 定义字体(px)单位，大于或等于20的都为px单位字体
@for $i from 8 through 50 {
    .u-font-#{$i} {
        font-size: $i + px;
    }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 300 {

    // 只要双数和能被5除尽的数
    @if $i % 2==0 or $i % 5==0 {

        // 得出：u-margin-30或者u-m-30
        .u-margin-#{$i},
        .u-m-#{$i} {
            margin: $i + px !important;
        }

        // 得出：u-padding-30或者u-p-30
        .u-padding-#{$i},
        .u-p-#{$i} {
            padding: $i + px !important;
        }

        @each $short, $long in l left, t top, r right, b bottom {

            // 缩写版，结果如： u-m-l-30
            // 定义外边距
            .u-m-#{$short}-#{$i} {
                margin-#{$long}: $i + px !important;
            }

            // 定义内边距
            .u-p-#{$short}-#{$i} {
                padding-#{$long}: $i + px !important;
            }

            // 完整版，结果如：u-margin-left-30
            // 定义外边距
            .u-margin-#{$long}-#{$i} {
                margin-#{$long}: $i + px !important;
            }

            // 定义内边距
            .u-padding-#{$long}-#{$i} {
                padding-#{$long}: $i + px !important;
            }
        }
    }
}


